@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: Estilo base para la fuente */
body {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}